[Desktop Entry]
Encoding=UTF-8
Version=1.62.0-DEV
Type=Application
Name=Rclone WebUI
Comment=Web GUI for rclone CLI
Exec=rclone rcd --rc-web-gui
StartupNotify=false
Terminal=false
Hidden=true

