# Global Extractors
BASE_DIRECTORY=~/.local/share/gallery-dl
USER_AGENT=browser

# Common variables for all extractors
BROWSER=brave
KEYRING=kwallet

# SchaleNetwork
SCHALE_CRT=XXXX
SCHALE_BEARER_TOKEN=Bearer XXXX

# Twitter
TWT_VIDEOS=ytdl
TWT_DOMAIN=.x.com
