// https://gdl-org.github.io/docs/configuration.html

amends "extractors/BaseExtractor.pkl"
import "extractors/Schalenetwork.pkl"
import "utility/Env.pkl"

extractor {
  schalenetwork = new Schalenetwork.Extractor {
    crt = Env.env["CRT"]
    token = Env.env["BEARER_TOKEN"]
  }
}
